@model WeatherTodayApp.Models.WeatherDetail

@{
    ViewBag.Title = "GetWeatherByCity";
}

<h2>Search Weather By City</h2>
<form method="post">
    Enter City Name&nbsp;&nbsp;&nbsp;<input type="text" name="txtCityName" width="100" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Search" style="width:80px; height:33px;
                    background-color:cornflowerblue; border-color:cornflowerblue;
                    font-size:12px; color:white;  border-radius:6px;" />
</form>

